{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <br><br>
    <div class="container">
        <main>

            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <form class="needs-validation" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="w-50 btn btn-primary btn-lg" type="submit">
                            {% if button_name  %} {{ button_name }} {% else %} button {% endif %}
                        </button>
                    </form>
                </div>

                <div class="col-md-5 col-lg-1">
                </div>

                <div class="col-md-5 col-lg-3">
                    welcome, {{ request.user.name }}
                    <br>
                    <a href="{% url 'logout' %}">Log out</a>
                </div>
            </div>

            <br><br>
            <div class="row">
                
                {% if submitted_exams %}
                <h6>Submitted exams</h6>
                {% for exam in submitted_exams %}
                <li>{{ exam.name }}</li>
                {% endfor %}
                {% endif %}

            </div>


            {% if question_list %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% for question in question_list %}
                  <li class="page-item">
                    <a class="page-link" href="{% url 'question' exam_id=question.exam.id question_id=question.id %}">{{question.id}}</a>
                </li>
                {% endfor %}
                </ul>
            </nav>
            
            {% endif %}

        </main>
    </div>

</body>

</html>